@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif;
}

.EventDetails {
  position: fixed;
  top: 30px;
  right: 60px;
  width: 25%;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  box-shadow: 3px 3px 12px 1px #d3d3d3;
  padding: 15px;
  background-color: #fff;
  color: #454545;
  p {
    margin: 0 0 5px;
  }
  h3 {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.resetButton {
  position: fixed;
  top: 50px;
  right: 80px;
  z-index: 2;
  border: 1px solid #1C6C86;
  background-color: #268BAD;
  color: #fff;
  padding: 10px 15px;
  font-size: 12px;
  border-radius: 3px;
}